.carousel-container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-window {
  width: 958px;
  overflow: hidden;
  margin: 0 auto;
  display: block;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: -15px;
}

.carousel-track {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease;
  flex-wrap: nowrap;
  width: max-content;
  align-items: center;
  padding: 5px 0;
  align-items: stretch;
  padding: 15px 0;
}

.game-card {
  display: flex;
  flex-direction: column;
  flex: 0 0 306px;
  width: 306px;
  box-sizing: border-box;
  position: relative;
  /* background: #1a1a3a; */
  background: rgba(19, 44, 67, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.6);
  transition: all 0.4s ease;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: url("assets/images/cursor/foo108.cur"), pointer;
  color: #d1d5db;
}

.game-card img {
  display: block;
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  object-position: center;
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}

.game-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(88, 101, 242, 0.4);
}

.game-card:hover img {
  filter: grayscale(0%);
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
  text-align: center;
  flex-grow: 1;
}
.game-name {
  background: linear-gradient(90deg, #f0f0f0, #5865f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.5));
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(88, 101, 242, 0.2);
  border: 2px solid #5865f2;
  color: #f0f0f0;
  cursor: pointer;
}

.arrow:hover {
  background: #5865f2;
  color: white;
  box-shadow: 0 0 15px #5865f2;
  cursor: url("assets/images/cursor/foo108.cur"), pointer;
}

.prev {
  left: -60px;
}

.next {
  right: -60px;
}
