.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px 0;
  padding: 0 20px;
}

.link-button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 15px 30px;
  border-radius: 12px;
  min-width: 200px;
  /* background-color: #2b2b40; */
  color: #d1d5db;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(270deg, #13133a, #1a1a4e, #13133a);
}

.link-button:hover {
  cursor: url("/assets/images/cursor/foo108.cur"), pointer;
  color: #ffffff;
  animation-duration: 1.5s;
}

.link-button:hover {
  background-color: #2a2a6e;
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}
.link-button:active {
  transform: translateY(1px);
}
