.our-games {
  border-bottom: 2px solid #5865f2;
  display: inline-block;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  font-size: 29px;
  background: linear-gradient(90deg, #f0f0f0, #5865f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.7));
}

.top-hours {
  border-bottom: 2px solid #5865f2;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  font-size: 29px;
  background: linear-gradient(90deg, #f0f0f0, #5865f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.7));
  margin-bottom: 20px;
}
.sidebar {
  width: 350px;
  position: sticky;
  margin-top: 20px;
  /* background-color: #132c43; */
  background: rgba(19, 44, 67, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.6);
  transition: all 0.4s ease;
  padding: 20px;
  border-radius: 15px;
  height: fit-content;
  max-height: 120vh;
  overflow-y: auto;
  overflow-x: hidden;
  animation-delay: 0.3s;
}

.sidebar::-webkit-scrollbar {
  width: 10px;
}

.sidebar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #5865f2;
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #4752c4;
}

.video-container {
  width: 100%;
  aspect-ratio: 16/9;
  margin-bottom: 15px;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  margin-bottom: 10px;
}

.sidebar iframe,
.video-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.video-container iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border: none;
  border-radius: 8px;
}
