.game-list {
  list-style: none;
  padding: 0;
  margin: 20px, 0;
  max-width: 600px;
}

.game-card {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #333;
  border-left: 4px solid #39ff14;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 4px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.game-card:hover {
  transform: translateX(10px);
  box-shadow: 0 0 15px rgba(57, 255, 20, 0.3);
  background: rgba(0, 20, 0, 0.8);
}

.game-img {
  width: 100px;
  height: auto;
  border-radius: 2px;
  margin-right: 15px;
  filter: sepia(50%) hue-rotate(50deg);
}

.game-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.game-hours {
  color: #39ff14; /* Неоновый зеленый */
  font-size: 0.9em;
  letter-spacing: 1px;
}

.loading-text {
  color: #aaa;
  font-style: italic;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.update-info {
  font-size: 0.8em;
  color: #666;
  margin-top: 10px;
}
