.game-list {
  list-style: none;
  padding: 0;
  margin: 20px, 0;
  max-width: 600px;
}

.game-card {
  margin-bottom: 15px;
  border: 1px solid #444;
  border-left: 5px solid #bc13fe;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  background: #000;
}

.game-card:hover {
  transform: translateX(5px);
  box-shadow: 0 0 15px rgba(188, 19, 254, 0.4);
  border-color: #bc13fe;
}

.game-card-content {
  position: relative;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  filter: brightness(0.3) grayscale(100%); 
    transition: filter 0.3s;
}

.game-card:hover .game-img {
  filter: brightness(0.5) grayscale(0%);
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.game-title {
  font-family: "Courier New", monospace;
  font-size: 1.4em;
  font-weight: bold;
  color: #fff;
  text-shadow: 
        0 2px 4px rgba(0,0,0,1), 
        0 0 10px rgba(0,0,0,0.8);
  margin-bottom: 5px;
  display: block;
}

.game-hours {
  color: #5865f2;
  font-size: 2em;
  font-weight: 800;
  text-shadow: 
        2px 2px 0px #000000,
        -1px -1px 0 #000000,
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px 1px 0 #000000,
        0 0 20px rgba(0,0,0,0.9);
}

.loading-text {
  color: #aaa;
  font-style: italic;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.update-info {
  font-size: 0.8em;
  color: #666;
  margin-top: 10px;
}




